.login-area{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 180px;
}

.login-inputs{
  display: flex;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
  margin-top: 10px !important;
  width: 29.5% !important;
}